{:consumer-key "zLwFtkxtqpwl0Ol6GXgAg"
 :consumer-secret "nP263m1K2RYab1aK0WO2JjuUj6N3WCl09bwVTO56QS0" 
 :access-token "1394662159-rc2CxYBq6OtKP4jOTTbuNJQPd6IdcBLf3KdZD6V"
 :access-token-secret "AEUtGhk46PkwZiiQiEeyYWPcafV4ekxm1ZaEIhbJTH4"}
