html, body {
  background-color: #333; 
  color: white;
  /*    font-family: monospace; */
  margin: 0;
  padding: 0;
}

#console-panel {
  display: -webkit-box
}
/* The console container element */
#your-repl {
  position: relative;
  width: 400px;
  height: 500px;
}
#other-repl {
  position: relative;
  width: 400px;
  height: 500px;
  float: left;
}

/* solarized light color scheme */
pre.jqconsole {
  background-color: #fdf6e3; /* base3 */
}
/* The command history */
.jqconsole-old-prompt {
  color: #93a1a1; /* base1 */
  font-weight: normal;
}
/* The current prompt text color */
.jqconsole-prompt {
  color: #657b83; /* base00 */
}
/* The text color of the output. */
.jqconsole-output {
  color: #268bd2; /* blue */
}


/* The inner console element. */
.jqconsole {
  padding: 10px;
}
/* The cursor. */
.jqconsole-cursor {
  background-color: gray;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
  background-color: #666;
}
/* The text color when in input mode. */
.jqconsole-input {
  color: #dd0;
}
/* Previously entered input. */
.jqconsole-old-input {
  color: #bb0;
  font-weight: normal;
}
/* The text color of error output. */
.jqconsole-error {
  color: red;
}
