html, body {
  background-color: #333; 
  color: white;
  /*    font-family: monospace; */
  margin: 0;
  padding: 0;
}

#your-repl {
  position: relative;
  width: 400px;
  height: 500px;
  float: left;
}
#others-repl {
  position: relative;
  width: 400px;
  height: 500px;
  float: left;
}

.userbox input + .btn {
  margin-left: -5px;
}

.userbox .handle {
  font-size: 20px;
}

.list-box {
  float: left;
  margin-left: 9px;
}
