/* solarized colors */
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

html, body {
  color: $base01;
}

.container {
}

.navbar-inner {
  padding-top: 5px;
}

.userbox {
  margin-bottom: 0px;
  margin-right: 5px;
}

.status td {
  border-top: 1px solid #CCC;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.userbox .btn {
  margin-left: -5px;
}

#user-container span {
  margin-left: 10px;
  margin-right: 10px;
}

.container > .span12 {
  margin-left: 0px;
}

.console {
  position: relative;
  height: 624px;
  margin: 10px;
}

.list-box > select {
  margin-bottom: 10px;
  height: 160px;
  background-color: $base3;
  border-radius: 4px;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

#avatar {
  height: 27px;
}

#ghbtn {
  width: 72px;
}

img.icon {
  vertical-align: top;
}

.chat {
  border: 1px solid $base03;
  border: 1px solid rgba(0, 43, 54, 0.15);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 39px;
  background-color: $base2;
}

.chat pre {
  height: 310px;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: $base3;
  border-radius: 3px;
  overflow: auto;
}

.chat input {
  width: 100%;
  margin-bottom: 0px;
/*  background-color: $base3;*/
  border-radius: 3px;
}

#chat-list {
  width: 100%;
}

#handle {
  font-size: 15px;
  margin-right: 10px;
}

.tab-content {
  border-radius: 4px;
  box-shadow: 0 0 8px 0px #888;
  position: relative;
  z-index: 2;
}

.nav-tabs {
  margin-bottom: 0px;
  margin-left: 9px;
  border-bottom: 0px;
}

.nav-tabs > li.active {
  position: relative;
  z-index: 3;
}

.nav-tabs > li:hover {
  position: relative;
  z-index: 3;
}

.nav-tabs > li > a:hover {
  background-color: $base1;
}

.nav-tabs > li > a {
  background-color: $base2;
  color: $base01;
  border-color: $base2 $base2 #dddddd;
}

.tab-content, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: $base2;
  color: $base01;
}

.main {
  position: relative;
  padding-top: 10px;
  color: $base01;
  z-index: 2;
}

.accordion-group {
/*  border: 0px;*/
}

.accordion-body {
 /* border: 1px solid #E5E5E5;*/

  background-color: $base3;
}

a:hover {
  text-decoration: none;
}

/* accordion menus */
#join.in {
  width: 156%;
}

.jqconsole-header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
.console {
  margin-left: 10px;
  margin-bottom: 10px;
}*/

.console .btn.pull-right {
  position: relative;
  z-index: 1;
}

pre.jqconsole {
  background-color: $base3;
}
/* console header */
span.jqconsole-header > span {
  color: $base01
}

/* The command history */
.jqconsole-old-prompt {
  color: $base1;
  font-weight: normal;
}
/* The current prompt text color */
.jqconsole-prompt {
  color: $base01
}
/* The text color of the output. */
.jqconsole-output {
  color: $blue
}

/* The inner console element. */
.jqconsole {
  padding: 10px;
}
/* The cursor. */
.jqconsole-cursor {
  background-color: $base1;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
  background-color: $base2;
}
/* The text color when in input mode. */
.jqconsole-input {
  color: #dd0;
}
/* Previously entered input. */
.jqconsole-old-input {
  color: #bb0;
  font-weight: normal;
}
/* The text color of error output. */
.jqconsole-error {
  color: $red;
}

/* Color of info messages */
.jqconsole-info {
  color: $orange;
} 
