/* solarized colors */
html, body {
  color: #586e75; }

.navbar-inner {
  padding-top: 5px; }

.userbox {
  margin-bottom: 0px;
  margin-right: 5px; }

.status td {
  border-top: 1px solid #CCC;
  border-top: 1px solid rgba(0, 0, 0, 0.15); }

.userbox .btn {
  margin-left: -5px; }

/*
.list-box .btn {
  display: block;
}*/
#tr-box {
  margin-top: 28px; }

.chat-hdr > [class*="span"] {
  min-height: 1px; }

.chat-hdr {
  margin-top: -8px; }

#user-container span {
  margin-left: 10px;
  margin-right: 10px; }

.container > .span12 {
  margin-left: 0px; }

.console {
  position: relative;
  height: 624px;
  margin: 10px; }

.list-box > select {
  margin-bottom: 10px;
  width: 100%;
  height: 160px;
  background-color: #fdf6e3;
  border-radius: 4px;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.15); }

#avatar {
  height: 27px; }

#ghbtn {
  width: 72px; }

img.icon {
  vertical-align: top; }

.chat {
  border: 1px solid #002b36;
  border: 1px solid rgba(0, 43, 54, 0.15);
  box-shadow: 0 0 8px 0px #888;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-top: 74px;
  background-color: #eee8d5; }

.chat pre {
  height: 310px;
  width: 100%;
  padding: 0 4px 2px;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fdf6e3;
  border-radius: 3px;
  overflow: auto; }

.chat input {
  width: 100%;
  margin-bottom: 0px;
  /*  background-color: $base3;*/
  border-radius: 3px; }

#chat-list {
  width: 100%; }

#handle {
  font-size: 15px;
  margin-right: 10px; }

.tab-content {
  border-radius: 4px;
  box-shadow: 0 0 8px 0px #888;
  position: relative;
  z-index: 2; }

.nav-tabs {
  margin-bottom: 0px;
  margin-left: 9px;
  border-bottom: 0px; }

.nav-tabs > li.active {
  position: relative;
  z-index: 3; }

.nav-tabs > li:hover {
  position: relative;
  z-index: 3; }

.nav-tabs > li > a:hover {
  background-color: #93a1a1; }

.nav-tabs > li > a {
  background-color: #eee8d5;
  color: #586e75;
  border-color: #eee8d5 #eee8d5 #dddddd; }

.tab-content, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: #eee8d5;
  color: #586e75; }

.main {
  position: relative;
  padding-top: 10px;
  color: #586e75;
  z-index: 2; }

.accordion-group {
  /*  border: 0px;*/ }

.accordion-body {
  /* border: 1px solid #E5E5E5;*/
  background-color: #fdf6e3; }

a:hover {
  text-decoration: none; }

/* accordion menus */
#join.in {
  width: 156%; }

.jqconsole-header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*
.console {
  margin-left: 10px;
  margin-bottom: 10px;
}*/
.console .btn.pull-right {
  position: relative;
  z-index: 1; }

pre.jqconsole {
  background-color: #fdf6e3; }

/* console header */
span.jqconsole-header > span {
  color: #586e75; }

/* The command history */
.jqconsole-old-prompt {
  color: #93a1a1;
  font-weight: normal; }

/* The current prompt text color */
.jqconsole-prompt {
  color: #586e75; }

/* The text color of the output. */
.jqconsole-output {
  color: #268bd2; }

/* The inner console element. */
.jqconsole {
  padding: 10px; }

/* The cursor. */
.jqconsole-cursor {
  background-color: #93a1a1; }

/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
  background-color: #eee8d5; }

/* The text color when in input mode. */
.jqconsole-input {
  color: #dd0; }

/* Previously entered input. */
.jqconsole-old-input {
  color: #bb0;
  font-weight: normal; }

/* The text color of error output. */
.jqconsole-error {
  color: #dc322f; }

/* Color of info messages */
.jqconsole-info {
  color: #cb4b16; }
