<div id="loginbox" class="userbox input-append pull-right">
  <input id="login-input" type="text" class="span3" placeholder="Handle">
  <button id="login" class="btn" href="#">Login</button>
</div>

<div id="logoutbox" class="userbox pull-right">
  <span id="handle"> Somehandle </span>
  <button id="logout" class="btn" href="#">Logout</button>
</div>

<p id="default-text">Sign in to enable sharing.</p>

<p id="signedin-text">
Click the 'Share' button to begin sharing.
<button id="share" class="btn">Share</button>
</p>
